<form (submit)="inscription()" [formGroup]=formulaire>
    <p>
        <label for="Nom"></label>
        <input type="text" />     
    </p>
    <p>
        <label for="prenom"></label>
        <input type="text" /> 
    </p>
    <p>
        <label for="email"></label>
        <input type="email" /> 
    </p>
    <p>
        <label for="password"></label>
        <input type="password" />         
    </p>
    <p>
        <label for="password"></label>
        <input type="password" />         
    </p>
    <p>
        <label for="adresse"></label>
        <input type="text" />         
    </p>
    <p>
        <label for="portable"></label>
        <input type="tel" />         
    </p>
    <p>
        <label for="fixe"></label>
        <input type="tel" />         
    </p>
    <p>
        <label for="Date de Naissance"></label>
        <input type="Date" />
    </p>
</form>